.auto-video{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px; /* opcional */
}
.hero-main{
  position:relative;
  overflow:hidden;
}

.hero-video{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}
